{
    "presets": ["es2015","react","stage-2"],
    "plugins": ["transform-react-jsx"]
}

// {
//     // "presets": ['react','es2015'],
//     // "plugins": ['transform-react-jsx']
//     "presets": [
//         "env",
//         "es2015",
//         "stage-2"
//       ],
//       "plugins": [
//         "transform-runtime"
//       ]
// }